{% extends 'base.html.twig' %}

{% block title %}Arcadia{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">

<div class="row flex-lg-row-reverse  g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ asset('build/images/photoaccueil.jpg') }}" class="d-block mx-lg-auto img-fluid rounded " alt="Bootstrap Themes" width="700" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Le zoo Arcadia</h1>
        <p class="lead">
Découvrez un monde sauvage et éblouissant au cœur de notre zoo. Rencontrez des créatures fascinantes, des lions majestueux aux boas espiègles. Explorez des habitats exotiques, des jungles luxuriantes aux déserts arides. Vivez des aventures inoubliables et créez des souvenirs précieux en famille. Plongez dans la magie de la nature et laissez-vous emporter par l'émerveillement à chaque pas. Rejoignez-nous pour une expérience inoubliable au zoo, où la fascination rencontre  l'amusement!</p>
        
      </div>
    </div>
<h2 class = "m-5">Nos Services</h2>
    <div class="row text-center m-3">
{% for service in services %}
  {% include "partials/service/_service_block.html.twig" %}
{% endfor %}
</div>
<h2 class="m-5">Nos habitats</h2>
<div class="row text-center m-3">
{% for habitat in habitats %}
  {% include "partials/habitat/_habitat_block.html.twig" %}
{% endfor %}
</div>
<h2 class="m-5">Les animaux du zoo</h2>
<div class="row text-center m-3">
{% for animal in animals %}
  {% include "partials/animal/_animal_block.html.twig" %}
{% endfor %}
</div>
{% endblock %}
