{% extends 'base.html.twig' %}

{% block title %}Nos habitats {% endblock %}

{% block body %}
<h1 class="mb-4">Nos habitats</h1>
<div class="row text-center">
{% for habitat in habitats %}
  {% include "partials/habitat/_habitat_block.html.twig" %}
{% endfor %}
</div>




{% endblock %}
