body {
    
        background-color: #EFF4DD;
       
}
h2{
        color: #BE5C52;
        padding-top: 40px;
}
.card{
        background-color: #EFF4DD;
}
.btn-primary{
        background-color: #EFF4DD;
        
}
